*{
    margin : 0;               /* removing default css*/
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color: black;      /* adding background color black */
    color:white;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display : flex;
    justify-content: space-between;
    position: absolute;             /* remain on top of other element*/
    top :0;
    width : 100% ;             /* occupy 100% width of screen*/
    padding: 3% 3%;
    z-index: 10;
}
.navbaar_brand{            /*style to netflix logo  adjusting size of div container*/
    width: 100px;              
    height : 100%;
}

.navbaar_logo{           /* image occupy 100% width and height of div of class navbaar_brand*/
    width: 100%;
    height : 100%;
}

.hero_main_bg{     
    width:100%;
    height : 80vh;              /* vh -- viewport height */
}

.hero_bg_img{   /* image occupy 100% width and height of div of class hero_main_bg */
    width:100%;
    height : 100%;
    object-fit: cover;           /* image does not sqeeze */
}

.hero_bg_overlay{                          /* adding some shadow on background image */
    position: absolute;
    inset: 0;
    width:100%;
    height : 80vh;   
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0,                  /* Adding Gradient */
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0.8) 100% );
}


.nav-items{
    display:flex;                             /* changing display to flex for nav item*/
    gap:14px;                                /*space between drop down and sign in button*/
}

.language---Select{        /* removing default style of select*/
    background : transparent;   /* transparent -- remove the background*/
    border: none;               /* removes border*/
    color:white;
    font-size: 20px;
}

.language---Select:focus{     /* pseudo focus class*/
    outline: none;
}

option{
    background-color: black;
    color : white;
}

.dropDown{
    border: 1px solid white;
    border-radius: 2px;
    padding : 10px 6px;
    background: rgba(0, 0, 0, 0.4);
}

.sign_in{                /* adding style to sign in button*/
    background-color: #dc030f;
    border: 1px solid #dc030f;
    border-radius: 4px ;
    color: white;
    padding: 13px 20px;
}

.hero_card{
    position: absolute;
    top:20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.hero_title{
    font-weight: 600;
    font-size: 30px;
}

.hero_description{
    font-weight: 400;
    font-size: 15px;
}

.hero_des{
    margin : 0 50px;
}
.email_input{                           /* removing default border and background of input  */
    border: none;
    background: transparent;
    width:100%;
    height:100%;
    padding:9px;
}

.email_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 15px;
}

.email_container{
    position:relative;
    background-color: white;                /* white color to input div */
    width :90%;                              /* changing width of div */
    height : 50px;
}

.email_label{
    color : rgb(153, 149, 149);
    position : absolute;                         /* to place label in the center of input field -- looks like label*/
    top :28%;
    left:2%;
    transition :0.5s;
}

.email_input:focus + .email_label{              /* When input is focussed style label also */
    top: 0.1rem;
    font-size: 10px;
}

.email_input:not(:placeholder-shown).email_input:not(:focus) + .email_label{
    top: 0.1rem;
    font-size: 10px;
}

.email_input:focus-visible{
    outline: none;
}
/* style to get started button*/
.primary_button{
    background-color: #dc030f;
    border: 1px solid #dc030f;
    border-radius: 4px ;
    color: white;
    padding: 15px 22px;
    font-size: 20px;
    letter-spacing: 1px;         /* Spacing between the words */
}

.feature{
    border-top: 8px solid #222;
    padding: 20px 15px;
}
.feature_details{
    text-align: center;
}

.feature_title{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}

.feature_sub_title{
    font-size: 15px;
    font-weight: 400;
}
/* feature images and vedios */
.feature_img_container{
    width:100%;
    position:relative;     /* position realtive to vedio */
}

.feature_img{
    width:100%;
}

.feature_vedio_container{
    position: absolute;
    width:100%;
    top:20%;
    height:100%;
    left:13%;
    max-width:73%;
    max-height:54%;
    z-index:-2;        /* for vedio behind the image */
}

.feature_vedio{
    width:100%;
}

.feature_2_poster{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 16em;
    display:flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem 0.6rem;
    gap: 15px;
}

.poster_image{
    width:25%;
    height:100%;
}

.poster{
    width:100%;
    height: 100%;
}

.poster_details{
    width:60%;
}

.poster_details > h4 {
    font-size: 13px;
    font-weight: 500;
  }
  .poster_details > h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(63, 63, 246);
  }

.poster_download_gif{
    width:20%;
    height: 100%;
}

.gif{
    width:100%;
    height: 100%;
}

/* adding style to feature 3 vedio */
.feature_3_vedio_container{
    max-width: 63;
    max-height: 47;
    z-index: -2;
    top: 9%;
    left:19%;
}

/* adding style to FAQ div */
.FAQ_details{                 /* FAQ div */
    width:100%;
    margin : 20px 0;
}

.FAQ_title_button{           /* FAQ button */
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:15px 20px;
    background-color: #303030;
    color: white;
    font-size: 21px ;
    border: 1px solid #303030;
}

.FAQ_visible{
    background-color: #303030;
    border: 1px solid black;
    padding:1rem;
}

.FAQ_visible > p{
    margin: 1rem 0;
}
/* adding media queries*/

@media(min-width : 535px){  
    .hero_card{
        top:50%;
        left:50%;
        transform: translate(-60% , -60%);
     }

     .email_container{          
        width :100%;                 
        height : 50px;
    }

    .email_input{                           
        width:100%;
        height:100%;
    }
}
@media(min-width : 768px){        /*for mobile*/
    .hero_main_bg{
        height: 100vh;
     }
     .hero_bg_overlay{
        height:100vh;
     }
     .hero_card{
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
     }
     .hero_title{
        font-size: 43px;
    }
    .hero_description{
        font-size: 20px;
    }
    .feature{
        padding: 20px;
    }
    
    .feature_title{
        font-size: 35px;
    }
    
    .feature_sub_title{
        font-size: 20px;
    }

    .feature_2_poster{
        max-width: 26em;
        height: 85px;
    }

    .poster_image{
        width:20%;
    }

    .poster_download_gif{
        width:3rem;
        height: 3rem;
    }

    .poster_details > h4 {
        font-size: 18px;
      }
      .poster_details > h6 {
        font-size: 14px;
      }
}

@media(min-width : 1024px){        /*for laptop*/
    .navbar{
        padding:2% 5%;                 
    }
    .navbaar_brand{ 
        width:150px;             /* netfix - logo*/
    }
    .sign_in{
        font-size: 20px;          /*sign in button*/
    }
    .dropDown{
        font-size: 20px;          /* drop down menu*/
        padding:9px 20px;
    }
    .nav-items{
        gap:30px;
    }
    .hero_card{
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
     }
     .hero_title{
        font-size: 50px;
    }
    .hero_description{
        font-size: 23px;
    }

    .email_form_container{
        flex-direction: row;
        align-items: center;
        gap :1.5px;
    }

    .email_container{
        width:50%;
    }

    .primary_button{
        height: 50px;
    }

    .feature{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .feature_details{
        text-align: left;
        padding: 0 6rem;
    }

    .feature_title{
        font-size: 50px;
    }
    .feature_sub_title{
        font-size: 25px;
    }
    .feature_img_container{
        max-width: 600px;
    }

    .feature:nth-child(even){             /* for reversing the contents at 2nd ,4th (even no.)... */
        flex-direction: row-reverse;
    }

    .feature_2_poster{
        max-width: 20em;
        height: 95px;
        padding: 1rem;
    }

    .poster_image{
        width:20%;
    }
 
}

@media(min-width : 1254px){        /*for desktop  - large screen*/

}