*{
    margin : 0;               /* removing default css*/
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color: black;      /* adding background color black */
    color:white;
}

.navbar{
    display : flex;
    justify-content: space-around;
}
.navbaar_brand{
    width: 100px;
    height : 100%;
}

.navbaar_logo{
    width: 100%;
    height : 100%;
}

.nav-items{
    display:flex;
    justify-content: right;

}

.language---Select{        /* removing default style of select*/
    background : transparent;   /* transparent -- remove the background*/
    border: none;               /* removes border*/
    color:white;
}

.language---Select:focus{     /* pseudo focus class*/
    outline: none;
}