*{
    margin : 0;               /* removing default css*/
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color: black;      /* adding background color black */
    color:white;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display : flex;
    justify-content: space-between;
    position: absolute;             /* remain on top of other element*/
    top :0;
    width : 100% ;             /* occupy 100% width of screen*/
    padding: 3% 3%;
    z-index: 10;
}
.navbaar_brand{            /*style to netflix logo  adjusting size of div container*/
    width: 100px;              
    height : 100%;
}

.navbaar_logo{           /* image occupy 100% width and height of div of class navbaar_brand*/
    width: 100%;
    height : 100%;
}

.hero_main_bg{     
    width:100%;
    height : 75vh;              /* vh -- viewport height */
}

.hero_bg_img{   /* image occupy 100% width and height of div of class hero_main_bg */
    width:100%;
    height : 100%;
    object-fit: cover;           /* image does not sqeeze */
}

.hero_bg_overlay{                          /* adding some shadow on background image */
    position: absolute;
    inset: 0;
    width:100%;
    height : 75vh;   
    background: rgba(0, 0, 0, 0.4);
}


.nav-items{
    display:flex;                             /* changing display to flex for nav item*/
    gap:14px;                                /*space between drop down and sign in button*/
}

.language---Select{        /* removing default style of select*/
    background : transparent;   /* transparent -- remove the background*/
    border: none;               /* removes border*/
    color:white;
    font-size: 20px;
}

.language---Select:focus{     /* pseudo focus class*/
    outline: none;
}

option{
    background-color: black;
    color : white;
}

.dropDown{
    border: 1px solid white;
    border-radius: 2px;
    padding : 10px 6px;
    background: rgba(0, 0, 0, 0.4);
}

.sign_in{                /* adding style to sign in button*/
    background-color: #dc030f;
    border: 1px solid #dc030f;
    border-radius: 4px ;
    color: white;
    padding: 11px 20px;
}

.hero_card{
    position: absolute;
    top:30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.hero_title{
    font-weight: 600;
    font-size: 30px;
}

.hero_description{
    font-weight: 400;
    font-size: 15px;
}
/* adding media queries*/

@media(max-width : 768px){  
    .hero_card{
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
     }
}
@media(min-width : 768px){        /*for mobile*/
    .hero_main_bg{
        height: 100vh;
     }
     .hero_bg_overlay{
        height:100vh;
     }
     .hero_card{
        top:50%;
        left:30%;
        transform: translate(-30% , -30%);
     }
     .hero_title{
        font-size: 43px;
    }
    .hero_description{
        font-size: 20px;
    }
}

@media(min-width : 1024px){        /*for laptop*/
    .navbar{
        padding:2% 5%;                 
    }
    .navbaar_brand{ 
        width:150px;             /* netfix - logo*/
    }
    .sign_in{
        font-size: 20px;          /*sign in button*/
    }
    .dropDown{
        font-size: 20px;          /* drop down menu*/
        padding:9px 20px;
    }
    .nav-items{
        gap:30px;
    }
    .hero_card{
        top:50%;
        left:50%;
        transform: translate(-50% , -50%);
     }
     .hero_title{
        font-size: 50px;
    }
    .hero_description{
        font-size: 23px;
    }
}

@media(min-width : 1254px){        /*for desktop  - large screen*/

}